@font-face {
    font-family: 'Frutiger';
    src: url('/fonts/Frutiger.woff2') format('woff2'),
        url('/fonts/Frutiger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

